<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ .Site.Title }}
		|
		{{ .Title }}</title>
	<link rel="stylesheet" href="{{ `/css/style.css` | relURL }}">
	<!--<link rel="stylesheet" href="{{ "/css/academicons.css" | relURL }}"/>-->
</head>

<body>
	<div class="wrapper">
		<header>
			<h1>{{ .Site.Title }}</h1>

			<!-- begin photo -->
			{{ with .Site.Params.logo }}
			<img src="{{ . | relURL }}" alt="Logo" />
			{{ end }}
			<!-- end photo -->

			<!-- begin short bio -->
			<p>{{ .Site.Params.shortbio }}</p>
			<!-- end short bio -->

			<div class="compact-sidebar">
				<!-- begin electronic post -->
				<p>
					<img src="{{ `/icons/mail-symbol.svg` | relURL }}" class="octicons">
					{{ partial "mail.html" . }}
				</p>
				<!-- end electronic post -->

				{{ with .Site.Params.ORCID }}
				<p>
					<img src="{{ `/icons/orcid-black.svg` | relURL }}" class="octicons"> <a
						href="https://orcid.org/{{ . }}" target="_blank">
						orcid.org/{{ . }}
					</a>
				</p>
				{{ end }}

				{{ with .Site.Params.GitHub }}
				<p>
					<img src="{{ `/icons/github.svg` | relURL }}" class="octicons"> <a href="https://github.com/{{ . }}"
						target="_blank">
						github.com/{{ . }}
					</a>
				</p>
				{{ end }}

				{{ with .Site.Params.GoogleScholar }}
				<p>
					<img src="{{ `/icons/google-scholar.svg` | relURL }}" class="octicons"> <a
						href="https://scholar.google.com/citations?user={{ . }}" target="_blank">
						Google Scholar
					</a>
				</p>
				{{ end }}

				{{ with .Site.Params.LinkedIn }}
				<p>
					<img src="{{ `/icons/linkedin.svg` | relURL }}" class="octicons"> <a
						href="https://www.linkedin.com/in/{{ . }}" target="_blank">
						LinkedIn
					</a>
				</p>
				{{ end }}


			</div>

			<hr />
			{{ partial `sidebar.html` . }}
		</header>
